h1, h2, h3, h4, h5,
.card-pricing .title-pricing,
footer p,
body,
.fake-link,
header.burger .button-menu,
.menu-navigation ul li a,
p,
.button {
    font-family: "Poppins", sans-serif;
}

.white{
    .swiper-button-next, .swiper-button-prev{
        color: #FFF;
    }
}

.swiper-button-next, .swiper-button-prev{
    color: #fff;
    background: #1C2056;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 14px;
}

.swiper-button-next, .swiper-button-prev{
    right: 40px;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 40px;
}
.text-content{
    ul{
        margin-top: 30px;
    }
    li{
        display: block;
        margin-bottom: 7px;
        margin-left: 15px;
        position: relative;
        &:before{
            content: '-';
            margin-right: 10px;
            position: absolute;
            left: -15px;
        }
    }
}

ul li{
    font-size: 17px;
}
.container{
    max-width: 1920px;
    padding: 0 30px;
}

.strate{
    padding: 85px 0;
}

.no-padding-top{
    padding-top: 0;
}

.border-top{
    border-top: 1px solid rba(0,0,0,0.1);
}

h1{
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    margin-bottom: 15px;
}

h2{
    font-size: 50px;
    line-height: 53px;
    font-weight: 800;
    color: #1C2056;
    margin-bottom: 15px;
}
h3{
    font-size: 40px;
    line-height: 43px;
    font-weight: 800;
    color: #AE6532;
    margin-bottom: 15px;
}
h4{
    text-transform: uppercase;
    font-weight: 800;
    color: #AE6532;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

p{
    font-size: 18px;
    color: #4A4A4A;
    display: block;
}

.container-text-only p{
    display: block;
}

.dark p{
    color: #FFF;
}
.white{
    h1,h2,h3,h4, p{
        color: #FFF;
    }
}

.breadcrumb{
    position: absolute;
    top: 100%;
    padding-top: 20px;
    background: transparent;
    color: #FFF;
    left: 0;

    a{
        color: #FFF;
        font-size: 13px;
        padding-right: 10px;
        display: inline-block;

        &:after{
            content : '›';
            padding-left: 10px;
        }

        &:hover{
            text-decoration: none;
        }
    }

    span{
        font-size: 13px;
        font-weight: 600;
    }
}

.button{
    background: #FFF;
    display: inline-block;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #AE6532;
    transition: .3s;

    &.primary{
        background: #AE6532;
        color: #FFF;

        &:hover{
            color: #FFF;
            background: #D78349;
        }
    }

    &:hover{
        color: #AE6532;
        text-decoration: none;
    }
}

/* HEADER */
.sentence-header{
    position: absolute;
    width: 100%;
    background: #1C2056;
    color: #FFF;
    z-index: 8;
    padding: 8px;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
}

header.linear{
    background: #FFF;
    border-radius: 10px;
    max-width: 1920px;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding: 20px;
    width: calc(100% - 60px);
}

header.burger.is-scrolled{
    width: 100%;
    border-radius: 0 0 15px 15px;
    transform: translateY(-100%) translateX(-50%);
    background-color: #faf8f5;
}
header.burger.is-scrolled.is-visible {
    transform: translateY(0%) translateX(-50%);
    transition: 0.6s transform;
}

header.linear ul{
    padding-top: 12px;
}
header.linear ul li a{
    font-weight: 600;
    font-size: 14px;
}
header.burger .logo, header.burger .logo-scroll{
    margin-top: 0;
    width: 130px;
}

/* FOOTER */
footer{
    padding: 65px;
    .logo-footer{
        width: 180px;
    }

    .copyright{
        padding-top: 80px;
        font-size: 14px;

        a{
            color: #000;
        }
    }

    p{
        color: #1C2056;
        font-weight: 600;
    }
    li{
        a{
            color: #000;
            font-size: 14px;
        }
    }
}
.social li svg path{
    fill: #1C2056;
}

.social{
    padding: 0;
}

/* HERO */

.strate-hero{
    border-radius: 0 0 60px 60px;
}
.strate-hero .strate-hero_inner{
    color: #FFF;
    position: relative;
    left: 20%;
    transform: translateX(-0%) translateY(0) !important;
    top: auto;
    padding-top: 300px;
    padding-bottom: 150px;
    z-index: 6;
    max-width: 900px;
    width: 100%;
    text-align: left;
    p,h1{
        max-width: 900px;
    }
}

.strate-hero.dark:before{
    z-index: 3;
    background: rgba(0, 0, 0, 0.65);
}

.strate-hero.middle{
    height: auto;
}

.strate-hero .strate-hero_image{
    position: absolute;
}


/* CARDS */

.swiper .card-slide{
    padding: 0 1vw;
    border-radius: 30px;
    overflow: hidden;

    &:hover{
        img{
            transform: scale(1.05);
        }

        a{
            &:after{
                transform: translateX(0px) scale(1.3);
            }
        }
    }

    h2,h3,h4{
        margin-bottom: 0;
        font-size: 25px;
        line-height: 28px;
    }

    p{
        font-size: 15px;
        margin-top: 13px;
    }

    img{
        display: block;
        margin-bottom: 0;
        transition: .3s;
    }
    a{
        height: 100%;
        display: block;
        border-radius: 30px;
        overflow: hidden;
        position: relative;

        &:before{
            content : "";
            width: 100%;
            height: 70%;
            background: linear-gradient(-180deg,rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, .85) 100%);
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 30;
        }

        &:after{
            content: '';
            width: 40px;
            height: 40px;
            background: url('img/arrow-card.svg');
            background-size: cover;
            position: absolute;
            right: 30px;
            bottom: 30px;
            z-index: 40;
            transition: .3s;
        }
    }
    .text{
        position: absolute;
        bottom: 0;
        width: calc(100% - 100px);
        padding: 30px;
        padding-right: 0;
        z-index: 40;
    }
}

.container-slider-cards{
    .swiper-button-next, .swiper-button-prev{
        display: none;
    }
}


/*TEXT ONLY*/
.container-text-only{
    p,h1,h2,h3,h4{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* PICTOS */

.container-pictos{
    text-align: center;

    img{
        max-width: 80px;
        margin-bottom: 30px;
    }
}

/* CITATION */
.container-slider-quotes .citation{
    text-align: center;
}

.container-slider-quotes .citation .stars path{
    fill: #1C2056;
}

.container-slider-quotes .citation .author-infos{
    text-align: left;
    color: #1C2056;
}

/*SLIDER CARDS*/

.container-slider-cards{
    .container-buttons{
        margin-top: 40px;
    }

    .swiper-pagination{
        position: relative;
    }

    &.white{
        .swiper-pagination-bullet{
            background: #FFF;
        }
    }
}

/*Texte image*/
.container-image-text .image-strate{
    width: 100%;
}


/* Formulaire */
.formulaire-footer{
    background-color: #1C2056;
    padding: 85px 85px;
    border-radius: 0 0 60px 60px;
    ul{
        margin-top: 30px;
    }
    li{
        margin-bottom: 10px;
    }
    .picto{
        display: inline-block;
        width: 40px;
        height: 40px;
        background: rgba(255,255,255,.2);
        border-radius: 50%;
        margin-right: 10px;
        line-height: 40px;
        text-align: center;
    }

    .container-text-devis{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .container-form{
        background: #FFF;
        padding: 65px;
        border-radius: 30px;

        h3{
            color: #000;
            text-align: center;
            font-size: 30px;
            margin-bottom: 30px;
        }
    }
}

input, textarea{
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid #DADADA;
    margin-bottom: 15px;
    font-size: 14px;
    resize: none;
    border-radius: 4px;
}

button{
    border: 0;
    width: 100%;
}

/* Product */

.formulaire-product{
    padding: 60px 0;
    .container-img-devis{
        max-height: 100vh;
        height: 100%;
        position: sticky;
        overflow: hidden;
        width: 120%;
        top: 0;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 50%;
            position: relative;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    .container-form{
        background: #FAF8F5;
        padding: 85px;
        margin-top: 60px;
        border-radius: 15px;
        margin-bottom: 60px;

        .container-text-form{
            text-align: center;
            margin-bottom: 30px;
        }
    }
}